<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abdullamzini.com.myapplication">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitbook">
        <activity android:name=".DetailedFriendActivity"></activity>
        <activity android:name=".workouts.RecordBasketballActivity" />
        <activity android:name=".workouts.DetailedWeightActivity" />
        <activity android:name=".workouts.RecordRunningActivity" />
        <activity android:name=".workouts.RecordWeightLiftingActivity" />
        <activity android:name=".SelectWorkoutActivity" />
        <activity android:name=".auth.EditProfileActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".AddPostActivity" />
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.CreateAccountActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>